    .text-justify {
        text-align: justify;
    }

    .numbered-list {
        list-style-type: decimal;
        list-style-position: outside;
        padding-left: 1rem;
    }

    .numbered-list>li {
        display: list-item;
        font-weight: 400;
    }

    .numbered-list>li::marker {
        font-weight: 600;
    }

    .numbered-list .li-title {
        display: block;
        font-weight: 600;
    }

    .numbered-list .li-desc {
        display: block;
        font-weight: 400;
    }